a:link {
  color: lightgray;
}
a:visited {
  color: lightgray;
}

/* creates text color*/
body {
  color: black;
}

/* defines attributes for h1*/
header h1{
  padding-left: 30px;
  background-color: lightgray;
}

/*  defines attributes for li in header */
nav ul li {
  color: white;
  list-style-type: none;
  display: inline-block;
  margin-top: 20px;
  
}

/*  creates flex box for section element */
section {
  display: flex;
  margin: 25px;
}

/* style settings for each h2 element */
section h2 {
  border-right-style: solid;
  border-color: lightgray;
  padding: 20px;
  width: 150px;
  font-size: 40px;
  text-align: center;
}

/*  makes the list a row and gives margins */
section ul li {
  list-style-type: none;
  display: inline-block;
  margin-top: 75px;
  margin-left: 50px;
}

/* adds margins for each <p> */
p {
  margin-left: 50px;
  margin-top: 75px;
}

/*  class for the body header to make it a flex box */
.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: black;
}

/*  set image properties for the binary code image */
.pic {
  height: 150px;
  width: 100%;
}

/* creates the class for section about work and makes it a flex box */
.card{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* sets attributes for the images in the class */
.card img {
  margin: 20px;
  max-width: 500px;
  max-height: 500px;
  border-style: solid;
  border-color: lightgray;
}

/* creates action item for the images in the work section */
.action :hover{
  border-color: red;
  transform: scale(1.5);
}

/* adjusted needed to make the design responsive when getting smaller */
@media screen and (max-width:998px) {
  
  section{
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  section h2 {
    padding: 0px;
    margin: 0px;
    border-right-style: none;
    width: auto;
  }  

  p {
  margin: 20px;
  }

  section ul {
  padding-left: 0px;
  }

  section ul li {
  margin-top: 0px;
  margin-left: 0px;
  }

  .card img {
    margin: 0px;
    min-width: 200px;
    max-width: 100%;
  }

  .action :hover{
    transform: scale(1.15);
  }
}

/* adjusted needed to make the design responsive when screen is around phone size */
@media Screen and (max-width: 500px) {
  section ul li {
    display: block;
  }

  .main-header {
    justify-content: center;
  }
}